@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}

.text{
    position: fixed;
    left: 30px; top: 10px;
    z-index: 100;
    color: #fff;
}
.fixed_bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.slide {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: #fff;
    padding: 50px;
}
.slide-content {
    position: relative;
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
}
#slide04 {
    background: url(img/stars.gif); /* slide03을 덮어씀 */
}
